REPOSITORY_NAME=devbox
HOST_IP=$(ifconfig ens160 2>/dev/null|awk '/inet / {print $2}'|sed 's/addr://')
CTS_HOST=cts.gipsi.dev
CTS_IP=10.18.2.229
xPRESSION_HOST=xpression.gipsi.dev
xPRESSION_IP=$HOST_IP
