<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <mirrors>
  	<mirror>
  		<id>Builder-offline</id>
  		<url>file:////opt/xCPDesigner/maven/designer</url>
  		<mirrorOf>Builder</mirrorOf>
  	</mirror>
  </mirrors>

  <profiles>
    <profile>
      <id>xcp-designer</id>
      <properties>
        <designerPath>/opt/xCPDesigner</designerPath>
  			<workspace>/var/xcp-workspace</workspace>
        <app.host>apphost</app.host>
        <app.port>8080</app.port>
      </properties>
      <repositories>
				<repository>
					<id>Builder</id>
					<url>http://localhost:2910/maven</url>
				</repository>
				<repository>
					<id>Builder-offline</id>
					<url>file:///${designerPath}/maven</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>Builder</id>
					<url>http://localhost:2910/maven</url>
					<releases>
						<updatePolicy>never</updatePolicy>
						<enabled>true</enabled>
					</releases>
				</pluginRepository>
				<pluginRepository>
					<id>Builder-offline</id>
					<url>file:///${designerPath}/maven</url>
					<releases>
						<updatePolicy>never</updatePolicy>
						<enabled>true</enabled>
					</releases>
				</pluginRepository>
			</pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>xcp-designer</activeProfile>
  </activeProfiles>

  <servers>
    <server>
      <id>apphost</id>
      <username>admin</username>
      <password>adminPass1</password>
    </server>
  </servers>

</settings>
